.ibox {
	margin-bottom: 40px;
	border-bottom: 2px solid #fff;

	&__title {
		color: #fff;
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 2rem;
		position: relative;
		margin-bottom: 20px;
		@include flexbox();
		@include align-items(center);

		&_icon {
			width: 20px;
			height: 20px;
			color: #fff;
			padding: 1px 0 3px 0;
			cursor: pointer;
			font-size: 1.6rem;
			line-height: 1.6rem;
			text-align: center;
			margin-right: 10px;
			background: #ffb100;
			display: inline-block;
			@include border-radius(4px);
		}

		&_text {
			cursor: pointer;
			display: inline-block;
		}

		&_data {
			top: 0;
			right: 0;
			position: absolute;
			display: inline-block;
		}
	}

	&__content {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	&.close {

		.ibox__title_icon {
			@include rotate(180deg);
		}
	}
}
