.widgets_group {
	margin: 0 -15px;
	@include flexbox();
	@include flex-wrap(wrap);

	@media (min-width: $screen-sm-min) {
//		padding: 0 15px;
	}
}


.widget {
	font-size: 0;
	line-height: 0;
	width: 100%;
	height: 160px;
	padding: 25px 20px;
	position: relative;
	margin: 0 15px 30px 15px;
	background: #1e1e1e url("../img/widget__bg.png") 50% 0 no-repeat;
	background-size: cover;
	@include flexbox();
	@include flex-direction(column);
	@include border-radius(6px);

	&__heading {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
		text-transform: uppercase;
	}

	&__icon {
		top: 20px;
		right: 26px;
		width: 64px;
		height: 64px;
		position: absolute;

		@include flexbox();
		@include align-items(center);
		@include flex-direction(column);
		@include transition(.3s);

		&:before {
			top: 50%;
			left: 50%;
			z-index: 1;
			content: '';
			width: 64px;
			height: 64px;
			position: absolute;
			margin: -32px 0 0 -32px;
			@include border-radius(50%);
			background: rgba(255,255,255,0.07);
			@include transition(.3s);
		}

		i {
			z-index: 10;
			height: 25px;
			margin: auto;
			position: relative;
			display: inline-block;
		}

		.ico-svg {
			fill: #fff;
		}
	}

	&__data {
		font-size: 1.4rem;
		line-height: 2.4rem;
		color: $color-yellow;
		margin-bottom: 7px;
		@include flex-grow(1);
		@include flexbox();
		@include flex-direction(column);

		strong {
			margin: auto 0;
			display: block;
			font-weight: 400;
			font-size: 2.2rem;
			line-height: 2.4rem;
		}

		span {
			display: block;
			margin: auto 0;
		}
	}

	&__info {
		color: #fff;
		@include flexbox();
		@include align-items(center);

		&_value {
			color: #fff;
			width: 40px;
			height: 20px;
			padding: 3px 0;
			font-weight: 700;
			font-size: 1.2rem;
			text-align: center;
			margin-right: 10px;
			line-height: 1.4rem;
			background: #29bbe3;
			display: inline-block;
			@include border-radius(3px);

			&_rose {
				background: #ec536c;
			}
		}

		&_legend {
			font-size: 1.6rem;
			line-height: 2rem;
			display: inline-block;
		}
	}

	&:hover {

		.widget__icon {

			&:before {
				width: 80px;
				height: 80px;
				margin: -40px 0 0 -40px;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: 567px) {
		width: calc(50% - 30px);
	}

	@media (min-width: $screen-lg-min) {
		width: calc(25% - 30px);
	}
}