.level_responsive {
	width: 100%;
	overflow-y: auto;

	@media (min-width: $screen-lg-min) {
		overflow-y: visible;
	}
}

.level {
	// min-width: 870px;
	position: relative;
	margin-bottom: 40px;
	@include flexbox();
	@include gradient-horizontal(#171717,#2f2f2f);

	&:before {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		content: '';
		height: 20px;
		position: absolute;
		background: #171717;
	}

	&__icon {
		height: 30px;
		display: inline-block;
		@include transition(.3s);

		.ico-svg {
			fill: #fff;
		}
	}

	&__title {
		color: #fff;
		font-size: 1.6rem;
		line-height: 2.4rem;
	//	white-space: nowrap;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	&__data {
		margin-bottom: 5px;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: $color-yellow;
		text-transform: uppercase;
	}

	&__sub {
		color: #fff;
		font-size: 1.2rem;
		line-height: 2.4rem;
	}

	&__heading {
		color: #fff;
		z-index: 10;
		position: relative;
		padding: 45px 5px 20px 5px;
		@include flex-shrink(0);

		&:before {
			left: -40px;
			top: -30px;
			z-index: 1;
			content: '';
			width: 150px;
			height: 230px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: url("../img/level__bg_shadow.png") 50% 50% no-repeat;
		}

		&_image {
			z-index: 5;
			width: 166px;
			display: none;
			position: relative;
		}

		&_name {

			z-index: 15;
			font-weight: 700;
			font-size: 2.2rem;
			line-height: 3rem;
			text-transform: uppercase;
		}

		&_text {
			z-index: 15;
			width: 100px;
			font-size: 1.5rem;
			line-height: 2rem;
			text-transform: uppercase;
		}

		&_value {
			color: #111;
			width: 60px;
			height: 28px;
			z-index: 20;
			font-weight: 500;
			padding: 4px 3px;
			text-align: center;
			font-size: 1.4rem;
			line-height: 2rem;
			background: #ffb100;
			display: inline-block;
			@include border-radius(3px);
		}
	}

	&__sale {
		z-index: 10;
		position: relative;
		font-size: 1.6rem;
		line-height: 2.4rem;
		padding: 45px 10px 20px 5px;

	}

	&__partner {
		z-index: 10;
		display: none;
		position: relative;
		font-size: 1.6rem;
		line-height: 2.4rem;
		padding: 45px 5px 20px 10px;
	}

	&__gift {
		z-index: 10;
		position: relative;
		font-size: 1.6rem;
		line-height: 2.4rem;
		padding: 45px 15px 20px 5px;
	}


	&__info {
		z-index: 10;
		position: relative;
		font-size: 1.6rem;
		line-height: 2.4rem;
		padding: 45px 20px 20px 20px;
		background: url("../img/icon__chart.png") 100% 100% no-repeat;
		@include flex-grow(1);

		display: none;

		&:before {
			left: 0;
			top: 40px;
			bottom: 20px;
			content: '';
			width: 1px;
			background: #535353;
			position: absolute;
			display: inline-block;
		}

		&_title {
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		&_text {
			max-width: 500px;
		}
	}

	&_one {

		.level__heading_name {
			color: #ffb100;
		}

		.level__heading_text {
			color: #ffb100;
		}
	}

	&__line {
		left: 0;
		bottom: 30%;
		z-index: 1;
		height: 30%;
		position: absolute;
		@include gradient-horizontal(#1c1c1c,#c18a0e);
	}

	&__scale {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		height: 30%;
		position: absolute;
		@include gradient-horizontal(#1c1c1c,#c18a0e);
	}

	&_two {
		@include gradient-horizontal(#1c1c1c,#c18a0e);
	}

	> div {

		&:hover {

			.level__icon {
				@include scale(1.2);
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-small-min) {


	}

	@media (min-width: $screen-sm-min) {

		&__sale {
			width: 160px;
			min-width: 160px;
			padding: 45px 15px 20px 45px;
			@include flex-shrink(0);
		}

		&__partner {
			width: 140px;
			min-width: 140px;
			display: block;
			padding: 45px 15px 20px 15px;
			@include flex-shrink(0);
		}

		&__gift {
			width: 140px;
			max-width: 140px;
			min-width: 140px;
			padding: 45px 30px 20px 15px;
			@include flex-shrink(0);
		}

		&__info {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			padding: 0;
			width: 166px;

			&_image {
				display: block;
			}

			&_name {
				top: 65px;
				left: 35px;
				font-size: 2.6rem;
				line-height: 3rem;
				position: absolute;
			}

			&_text {
				left: 35px;
				top: 100px;
				font-size: 2rem;
				line-height: 2.2rem;
				position: absolute;
			}

			&_value {
				top: 28px;
				left: 52px;
				font-size: 1.6rem;
				line-height: 2rem;
				position: absolute;
			}
		}

		&__info {
			display: none;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__heading {

			&:before {
				opacity: 1;
				visibility: visible;
			}
		}

		&__info {
			display: block;
		}
	}
}

.sidebar_open {

	@media (min-width: $screen-md-min) {

		.level__info {
			display: block;
		}
	}
}