.dashboard {
	margin: 0 -15px;
	@include flexbox();
	@include flex-wrap(wrap);

	&__elem {
		height: 185px;
		padding: 15px;
		text-align: center;
		width: calc(50% - 30px);
		margin: 0 15px 30px 15px;
		background: url("../img/dashboard__bg.png") 50% 50% no-repeat;
		background-size: cover;
		@include border-radius(5px);
		@include flexbox();
		@include flex-direction(column);

		&_title {
			color: #fff;
			font-size: 1.8rem;
			line-height: 2.2rem;
			margin-bottom: 45px;
		}

		&_value {
			font-size: 2.2rem;
			line-height: 2.47rem;
			padding-bottom: 10px;
			@include flex-grow(1);
		}

		&_button {

		}
	}

	@media (min-width: $screen-small-min) {

		&__elem {
			width: calc(33.33% - 30px);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__elem {
			width: calc(16.66% - 30px);
		}
	}
}

