* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: #fff;
	font-family: $font-family-base;
	background-color: #171717;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


.container {
	margin: 0 auto;
	max-width: 1680px;
	padding: 0 15px;
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		padding: 0 30px;
	}

}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	line-height: 1.2;
}

h1, .h1 {
	font-weight: 500;
	font-size: 2.3rem;
	line-height: 2.6rem;
	font-family: $font-family-head;
}

h2, .h2 {
	font-size: 	3rem;
	font-family: $font-family-head;
}

h3, .h3 {
	color: #fff;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: $font-family-head;
}

h4, .h4 {
	font-size: 2rem;
	font-family: $font-family-head;
}

h5, .h5 {
	font-size: 1.6rem;
	font-family: $font-family-head;
}

h6, .h6 {
	font-size: 1.4rem;
	font-family: $font-family-head;
}

p {
	margin: 0 0 20px 0;
}


// Links

a {
	outline: none;
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: $color-yellow;
		text-decoration: underline;
	}
}



