
.page {
	width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
	position: relative;
	background: #171717;

	&.sidebar_open {

		.sidebar {
			margin-left: 0;
			@include transition(.3s);
		}

		.main {
			@include translate(240px,0);
			@include transition(.3s);
		}
	}

	@media (min-width: $screen-md-min) {

		&.sidebar_open {

			.sidebar {
				margin-left: -240px;
			}

			.main {
				margin-left: 0;
				@include translate(0,0);
			}
		}
	}
}

.main {
//	padding-top: 60px;
	@include transition(.3s);

	@media (min-width: $screen-sm-min) {
//		padding-top: 70px;
	}

	@media (min-width: $screen-md-min) {
		margin-left: 240px;
		@include translate(0,0);
	}
}

.content {
	padding-bottom: 60px;
}

.heading {
	color: #fff;
	padding: 20px 0;
	background: #171717;

	&__title {
		margin-bottom: 10px;
	}

	&__data {
		font-size: 0;
		line-height: 0;
		margin: 0 -15px;
		text-transform: uppercase;
		@include flexbox();

		&_elem {
			padding: 0 15px;
		}

		.data_label {
			font-size: 1.4rem;
			line-height: 2rem;
			display: inline-block;
			padding: 3px 10px 1px 0;
			border-right: 1px solid #2f2f2f;
		}

		.data_value {
			font-size: 1.4rem;
			line-height: 2rem;
			font-weight: 400;
			padding-left: 10px;
			color: $color-yellow;
			display: inline-block;
		}
	}

	&__text {
		color: #c0c2c7;
		font-size: 1.6rem;
		line-height: 2rem;
		padding-top: 3px;

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 25px 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&__title {
			margin: 0;
		}
	}
}

.status_ok {
	padding-left: 20px;
	position: relative;
	display: inline-block;

	&:before {
		left: 0;
		top: 50%;
		content: '';
		width: 13px;
		height: 11px;
		margin-top: -6px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon__verify_sign.svg") 50% 50% no-repeat;
		background-size: cover;
	}
}

.border_bottom {
	padding-bottom: 10px;
	border-bottom: 1px solid #3a3a3a;
}

.inline_box {
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0 -15px;

	&__item {
		color: #fff;
		padding: 11px 15px;
		@include flexbox();
		@include align-items(center);

		.ico-svg {
			fill: #fff;
		}
	}

	&__icon {
		height: 18px;
		margin-right: 8px;
		display: inline-block;
	}

	&__label {
		font-size: 1.6rem;
		line-height: 2.4rem;
		padding-right: 10px;
		display: inline-block;
		text-transform: uppercase;
		border-right: 1px solid #2f2f2f;
	}

	&__value {
		padding-left: 10px;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: $color-yellow;
		display: inline-block;
		text-transform: uppercase;
	}
}

.digital {
	color: #fff;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2rem;
	position: relative;
	margin-bottom: 30px;
	@include flexbox();
	@include align-items(center);

	&__icon {
		width: 20px;
		height: 20px;
		color: #fff;
		padding: 2px 0;
		font-size: 1.6rem;
		line-height: 1.6rem;
		text-align: center;
		margin-right: 10px;
		background: #ffb100;
		display: inline-block;
		@include border-radius(4px);
	}

	&__text {
		display: inline-block;
	}

	&__data {
		top: 0;
		right: 0;
		position: absolute;
		display: inline-block;
	}
}

.qr {
	width: 215px;
}

.content__block {
	margin-bottom: 60px;
}

.info_block {
	color: #c0c2c7;
	font-size: 1.6rem;
	line-height: 2rem;
	position: relative;
	background: #453612;
	margin-bottom: 30px;
	padding: 10px 50px 10px 15px;
	@include border-radius(6px);

	&__close {
		top: 0;
		right: 0;
		z-index: 10;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			z-index: 10;
			width: 13px;
			height: 1px;
			content: '';
			background: #fff;
			position: absolute;
			margin: 0 0 0 -7px;
			display: inline-block;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}
}



.tickets_nav {
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #3a3a3a;
	@include flexbox();
	@include justify-content(space-between);

	a {
		color: #fff;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			font-size: 1.2rem;
			margin-right: 10px;
		}

		&:hover {
			color: $color-yellow;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 1.8rem;

		i {
			font-size: 1.2rem;
		}
	}
}

.message {
	margin-bottom: 30px;

	&__author {
		font-size: 1.8rem;
		line-height: 2rem;
		margin-bottom: 20px;
		color: $color-yellow;
		@include flexbox();

		span {
			display: inline-block;
		}
	}

	&__text {
		color: #fff;
		padding: 20px 30px;
		font-size: 1.6rem;
		line-height: 2.4rem;
		background: #453212;
		position: relative;
		@include border-radius(6px);

		&:before {
			left: 30px;
			bottom: 100%;
			content: '';
			position: absolute;
			display: inline-block;
			border: 10px solid transparent;
			border-bottom: 10px solid #453212;
		}
	}

	&_answer {

		.message__author {
			color: #fff;
			@include justify-content(flex-end);
		}

		.message__text {
			background: #454545;

			&:before {
				left: auto;
				right: 20px;
				border-bottom-color: #454545;
			}
		}
	}
}

.modal {
	margin: 0;
	color: #fff;
	width: 300px;
	background: #171717;
	padding: 40px 30px;

	&__title {
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 30px;
	}

	@media (min-width: $screen-sm-min) {
		width: 450px;
		padding: 40px 40px;
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}
