.header {
	width: 100%;
	z-index: 1010;
	position: relative;
	background: #000;

	&__container {
		height: 60px;
		padding: 10px 15px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__toggle {
		padding: 9px 4px;
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		text-decoration: none;
		display: inline-block;

		span {
			width: 100%;
			height: 2px;
			background: #fff;
			position: relative;
			margin-bottom: 4px;
			display: inline-block;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:hover {

			span {
				background: $color-yellow;
			}
		}
	}

	&__content {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 -15px;
		@include flexbox();

		> li {
			border-left: 1px solid #4d4d4d;

			&:first-child {
				border-left: none;
			}
		}
	}

	&__auth {
		color: #fff;
		font-size: 2rem;
		line-height: 2rem;
		position: relative;
		display: inline-block;
		text-decoration: none;
		padding: 10px 15px 10px 43px;

		i {
			top: 50%;
			left: 15px;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			position: absolute;
			display: inline-block;
		}

		.ico-svg {
			fill: #fff;
		}

		&:hover {
			color: $color-yellow;
			text-decoration: none;

			.ico-svg {
				fill: $color-yellow;
			}
		}
	}

	&__notification {
		width: 70px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		position: relative;
		display: inline-block;

		&_label {
			color: #fff;
			width: 70px;
			height: 40px;
			position: relative;
			display: inline-block;

			.ico-svg {
				fill: #fff;
			}

			i {
				top: 50%;
				left: 50%;
				z-index: 10;
				width: 22px;
				height: 21px;
				position: absolute;
				display: inline-block;
				margin: -10px 0 0 -10px;
			}

			span {
				top: 2px;
				left: 35px;
				color: #000;
				z-index: 20;
				width: 20px;
				height: 20px;
				padding: 4px 0;
				font-weight: 500;
				text-align: center;
				font-size: 1.2rem;
				line-height: 1.2rem;
				position: absolute;
				display: inline-block;
				background: $color-yellow;
				@include border-radius(4px);
			}

			&:hover {
				text-decoration: none;

				.ico-svg {
					fill: $color-yellow;
				}
			}
		}

		&_dropdown {
			right: 0;
			top: 100%;
			width: 230px;
			z-index: 1200;
			display: none;
			background: #111;
			margin-top: 10px;
			position: absolute;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					border-bottom: 1px solid #232323;

					a {
						color: #c0c2c7;
						display: block;
						font-size: 1.4rem;
						line-height: 1.8rem;
						padding: 10px 15px;
						text-decoration: none;

						strong {
							display: block;
							font-size: 1.5rem;
						}

						span {
							display: block;
						}
					}
				}
			}
		}

		&_view {
			display: block;
			background: #111;
			padding: 7px 10px;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			color: $color-yellow;
			text-decoration: none;

			&:hover {
				color: #c0c2c7;
				text-decoration: none;
			}
		}

		&.open {

			.header__notification_dropdown {
				display: block;
			}
		}

	}

	@media (min-width: $screen-sm-min) {

		&__container {
			height: 70px;
			padding: 15px 30px;
		}

		&__notification {

			&_dropdown {
				margin-top: 15px;
			}
		}

		@media (min-width: $screen-md-min) {

		}
	}
}