.sidebar {
	top: 0;
	left: 0;
	width: 240px;
	z-index: 1010;
	height: 100vh;
	position: fixed;
	margin-left: -240px;
	background: #111 url("../img/nav__bg.png") 50% 155px no-repeat;
	@include transition(.3s);

	&__wrap {
		height: 100vh;
		padding: 15px 0;
	}

	&__logo {
		width: 90px;
		display: block;
		margin: 0 auto 35px auto;
	}

	&__group {
		margin-bottom: 20px;
	}


	&__title {
		color: #c0c2c7;
		padding: 0 20px;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.2rem;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			> a {
				width: 100%;
				height: 46px;
				color: #e0d4b9;
				font-size: 1.8rem;
				line-height: 2rem;
				position: relative;
				display: inline-block;
				text-decoration: none;
				padding: 13px 40px 13px 45px;

				.ico-svg {
					fill: #e0d4b9;
				}

				b {
					top: 50%;
					left: 20px;
					height: 13px;
					margin-top: -10px;
					position: absolute;
					display: inline-block;
				}

				i {
					top: 50%;
					right: 20px;
					margin-top: -8px;
					position: absolute;
					font-size: 1.6rem;
					line-height: 1.6rem;
					@include transition(.3s);
				}

				strong {
					top: 50%;
					right: 20px;
					width: 20px;
					height: 20px;
					color: #111111;
					padding: 4px 0;
					font-weight: 400;
					font-size: 1.2rem;
					line-height: 1.2rem;
					margin-top: -10px;
					text-align: center;
					position: absolute;
					display: inline-block;
					background: $color-yellow;
					@include border-radius(4px);
				}

				&:hover {
					color: $color-yellow;
					background: #0a0a0a;
					text-decoration: none;

					.ico-svg {
						fill: $color-yellow;
					}
				}
			}

			&.open {

				> a {
					color: $color-yellow;
					background: #0a0a0a;
					text-decoration: none;

					.ico-svg {
						fill: $color-yellow;
					}

					i {
						@include rotate(90deg);
						@include transition(.3s);
					}
				}

				.sidebar__nav_second {
				//	display: block;
				}
			}
		}

		&_second {
			margin: 0;
			padding: 0;
			display: none;
			list-style: none;

			li {

				a {
					width: 100%;
					color: #e0d4b9;
					font-size: 1.6rem;
					line-height: 2.6rem;
					text-decoration: none;
					display: inline-block;
					padding: 2px 40px 2px 45px;

					&:hover {
						color: $color-yellow;
						text-decoration: none;
						display: inline-block;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		margin-left: 0;
	}
}

