
.btn {
	color: #fff;
	outline: none;
	cursor: pointer;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2rem;
	padding: 12px 35px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffaf00;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ffaf00;
	@include border-radius(6px);

	&:hover {
		color: #fff;
		background: #ff9600;
		border-color: #ff9600;
		text-decoration: none;
	}

	&:active {
		background: #ffaf00;
		border-color: #ffaf00;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_border {
	color: #ffaf00;
	background: transparent;
	border-color: #ffaf00;

	&:hover {
		background: #ffaf00;
		border-color: #ffaf00;
	}
}

.btn_sm {
	font-weight: 700;
	font-size: 1.4rem;
	padding: 6px 25px;
}

.btn_long {
	width: 100%;
}