.form_control {
	margin: 0;
	width: 100%;
	color: #000;
	height: 46px;
	outline: none;
	background: #fff;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2rem;
	padding: 12px 20px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #fff;
	@include placeholder(#000);
	@include border-radius(6px);

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}

}

textarea.form_control {
	height: auto;
}

input:disabled.form_control {
	color: #ffb100;
	background: #454545;
	border-color: #454545;
}

.form_group {
	margin-bottom: 20px;
}

.form_label {
	color: #fff;
	width: 100%;
	padding: 2px 0;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	display: inline-block;
	text-transform: uppercase;
}

.form_box {
	width: 100%;
	@include flexbox();

	.form_control {
		@include border-radius(6px 0 0 6px);
	}

	.btn {
		@include border-radius(0 6px 6px 0);
	}
}



.form_checkbox {
	padding: 0;
	font-weight: 300;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #fff;
		cursor: pointer;
		font-size: 1.6rem;
		line-height: 2rem;
		position: relative;
		display: inline-block;
		padding: 1px 0 1px 28px;

		&:after {
			left: 0;
			top: 2px;
			z-index: 1;
			content: '';
			width: 18px;
			height: 18px;
			position: absolute;
			border: 1px solid #fff;
			@include border-radius(3px);
		}

		&:before {
			top: -2px;
			left: 4px;
			z-index: 2;
			content: '';
			width: 18px;
			height: 18px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: url("../img/icon__verification_mark.svg") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	input:checked + span {

		&:after {
			border-color: #ffb100;
		}

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}

	@media (min-width: $screen-lg-min) {

		.form_checkbox {

			span {
				font-size: 1.8rem;
			}
		}
	}
}

.form_text {
	color: #fff;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.form_block {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 2px solid #fff;
}

