.pagination {
	font-size: 0;
	line-height: 0;

	&__text {
		color: #fff;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 10px;

		span {
			color: $color-yellow;
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(center);

		> li {
			margin-left: -1px;
			display: inline-block;

			> a {
				width: 35px;
				height: 34px;
				padding: 6px 0;
				color: #ffb100;
				font-size: 1.4rem;
				line-height: 2rem;
				text-align: center;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				border: 1px solid #ffb100;

				&:hover {
					color: #fff;
					background: #ffb100;
					text-decoration: none;
				}
			}

			&.active {

				> a {
					color: #fff;
					background: #ffb100;
				}
			}

			&:first-child {

				> a {
					width: 90px;
					@include border-radius(3px 0 0 3px);
				}
			}

			&:last-child {

				> a {
					width: 90px;
					@include border-radius(0 3px 3px 0);
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&__text {
			margin: 0;
			text-align: left;
		}
	}
}