
.table_responsive {
	width: 100%;
	overflow-y: auto;
}

.table {
	width: 100%;
	font-size: 1.4rem;
	line-height: 2rem;
	border-collapse: collapse;

	th {
		color: #111;
		font-weight: 500;
		text-align: left;
		padding: 15px 15px;
		background: #ffb100;
		text-transform: uppercase;
	}

	td {
		color: #fff;
		padding: 13px 15px;
		background: #171717;
	}

	tr {

		&:nth-child(odd) {

			td {
				background: #2f2f2f;
			}
		}
	}

	&_sm {
		min-width: 720px;
	}

	@media (min-width: $screen-md-min) {
		font-size: 16px;

		th {
			padding: 15px 20px;
		}

		td {
			padding: 13px 20px;
		}
	}
}

.table_sort {
	margin: 0 -15px 25px -15px;
	@include flexbox();
	@include flex-wrap(wrap);

	&__elem {
		padding: 0 15px;
		margin-bottom: 5px;
	}

	@media (min-width: $screen-md-min) {
		margin-left: -20px;
		padding-right: -20px;

		&__elem {
			padding: 0 25px;
		}

	}
}